*{
  margin:0;
  padding:0;
}

#main{
  margin:0px auto;
  width:99%;
}

body{
  background-position:center top ;
  background-repeat:repeat-x;
  font-family: Helvetica,Arial;
  font-size:0.8em;
  color:#666666;
}

.page{
}

.page a{

}

.page img{
	border:none;
	display:block;
	margin:0px auto;
}

a,
a:active,
a:focus {
-moz-outline-style: none;
outline: none;
}

#overlay { visibility: hidden; opacity:0.8; background-color:#fff; position: absolute; left: 0px; top: 0px; width:100%; height:100%; text-align:center; z-index: 1000; }
#overlay div { width:30px; margin: 100px auto; padding:15px; text-align:center; }
